/* !RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !COMMON */
:root{
    --black-palette: #23272A;
    --grey-palette: #f6f6f6;
    --indigo-palette: #7289DA;
}
body {
    max-width: 1500px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img{
    max-width: 100%;
}
.flex {
    display: flex;
}
.container {
    width: 80%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    border-radius: 1em;
    padding: .7em;
}
.a-white {
    background-color: white;
    color: var(--black-palette);
}
.a-black {
    background-color: var(--black-palette);

}
.a-indigo {
    background-color: var(--indigo-palette);
    color: white;
}

/* *common debug */
/* .dashed {
    border: 1px dashed black;
} */
/* .small {
    height: 250px;
} */
/* .medium {
    height: 350px;
} */
/* .big {
    height: 500px;
} */

/* !HEADING */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}
/* *Navigation Bar */
.orange {
    margin-top: 1rem;
    height: 50px;
    line-height: 50px;
}
.orange > * {
    font-size: .8rem;
}
.logo {
    width: 20%;
}
.navigation {
    width: 60%;
}
.menu {
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.login {
    width: 20%;
    text-align: end;
}

/* *Jumbotron */
.blue-row{
    padding: 50px 0;
}
.violet {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.violet > h2 {
 margin: 3rem 0;
 font-size: 2rem;   
}
.violet > p {
    margin: 2rem 0;
    font-size: 1rem;
}

/* *heading debug */
/* .skyblue-row {
    background-color: skyblue;
} */
/* .orange {
    background-color: orange;
} */
/* .blue-row {
    background-color: blue;
} */
/* .violet {
    background-color: violet;
} */

/* !MAIN */
main .line{
    padding: 50px 0 100px 0;
}
.big-p {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}
.medium-p {
    font-size: 1.5rem;
}

/* *Alternated Section */
.white-row {
    background-color: #ffffff;
}
.grey-row {
    background-color: var(--grey-palette);
    
}
.blue {
    width: 60%;
}
.pink {
    width: 40%;
}
.reverse {
    flex-direction: row-reverse;
}
.text {
    margin: 1rem;
}

/* *Big Content */
.green {
    text-align: center;
}
.stella {
    justify-content: center;
}
.star {
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 30px 0;
    margin-bottom: 2rem;
}

/* *main debug */
/* .blue {
    background-color: dodgerblue;
} */
/* .pink {
    background-color: pink;
} */

/* .green {
    background-color: green;
} */

/* !FOOTER */
footer {
    color: white;
    background-color: var(--black-palette);
    padding-top: 3rem;
}
/* *Column Section */
.top > * {
    padding: .5rem;
}
.coral {
    width: 30%;
}
.coral > * {
    margin-bottom: 1rem;
}
.coral > p {
    color: var(--indigo-palette);
}
.cadetblue-column {
    width: 70%;
}
.cadetblue {
    width: calc(100% / 4);
}
.italia > img{
    height: .7rem;    
}
.italiano {
    display: inline-block;
    font-size: .7rem;
}
.icons > *{
    margin-right: .8rem;
}
li {
    font-size: .8rem;
    margin-bottom: 1rem;
}
.bottom-title {
    font-size: .8rem;
    font-weight: bolder;
    color: var(--indigo-palette);
}
/* *Bottom Title */
.aquamarine {
    justify-content: space-between;
    padding: .8rem 0;
    border-top: 1px solid var(--indigo-palette);
}
.fuchsia {
    font-size: .8rem;
    padding: .5rem;
}

/* *footer debug */
/* .coral {
    background-color: coral;
} */
/* .cadetblue {
    background-color: cadetblue;
    border-color: white;
} */
/* .aquamarine {
    background-color: aquamarine;
} */
/* .fuchsia {
    background-color: salmon;
} */